@import url("http://fonts.cdnfonts.com/css/mahone-sans");

* {
  margin: 0;
  padding: 0;
  font-family: "Mahone Sans", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  background-color: blueviolet;
}

.inputContainer {
  background-color: black;
  color: azure;
  padding: 30px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.inputContainer input {
  font-size: 24px;
  width: 200px;
  min-width: 120px;
  height: 100px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 70px;
}
button {
  font-size: 24px;
  background-color: rgb(128, 42, 128);
  color: white;
  width: 200px;
  padding: 20px 10px;
  border-radius: 8px;
  font-size: 30px;
}

.outputContainer {
  display: flex;
  flex-direction: column;
  background-color: aliceblue;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 370px;
  padding: 20px 0;
}

.outputContainer p {
  margin-top: 30px;
  font-size: 30px;
  color: blueviolet;
}
